
body {
    width: 1440px;
    font-family: 'Roboto', sans-serif;
    margin: auto;
  
    
   
}
.container{
    display: flex;
    align-items: center;
    margin-right: 40px;
    margin-left: 40px;
    background-color: #fff;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
a{
    text-decoration: none;
}



/* header */
.header{   
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-top: 33px;
    padding-bottom: 20px;
}
/* .logo{
    /* padding-right: 136px; 
}*/
.nav{
    display: flex;
    align-items: center;
   
}
.nav_list{
    /* width: 843px; */
    margin-left: 136px;
    margin-right: 155px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 20px;
    line-height: 24px;
}

.nav_item:not(:last-child){
    padding-right: 26px;

}
button{
    border-radius: 8px;
}
.button_log{
    border: 2px solid #F8F4F4;
    padding: 14px 20px;
    background-color: #fff;
    box-sizing: border-box;
    margin-right: 10px;
    font-size: 18px;
}
.button_start{
    border: 1px solid #0099FF;
    font-size: 18px;
    padding: 14px 20px;
 background-color: #0099FF;
 color: #fff;
}
.tempat{
    display: flex;
    align-items: center;
}

/* hiring */
.hiring{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    padding-top: 31px;
    margin: auto;
    text-align: center;
    
}
.main_title{
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    letter-spacing: 2px;
    line-height: 110px;
}
.hiring_paragraph{
    width: 509px;
    font-size: 26px;
    font-weight: 400;
    padding-top: 73px;
    margin: 0;
}
.search{
    
    padding-top: 33px;
    padding-bottom: 37px;
}
.search_text{
    width: 300px;
    padding: 15px 10px;
    font-family: 'Roboto';
    color: #b2b2b2;
    background: #FFFFFF;
    
    border: 1px solid #0099FF;
}
.search_button{
    padding: 15px;
    border-radius: 0 8px 8px 0;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #0099FF;
}
/* section teams */
.teams{
    display: flex;
    flex-direction: column;
    align-items: center;

    
}
.teams_text{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #B2B2B2;
    font-style: normal;
}

.icons{
    width: 160px;
    height: 120px;
}
/* section works */
.works{
    position: relative;
    display: block;
    padding-top: 51px;
    padding-bottom: 141px;
    
}
.works_title{
    margin: 0;
   display: flex;
   justify-content: center;
   padding-bottom: 30px;
   font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 56px;
letter-spacing: 1.5px;

}
.works_img{
display: flex;
justify-content: center;
}
.button_div{
    position: absolute;
    top: 583px;
    left: 540px;
    display: flex;
    justify-content: center;
    
}
.works_button{
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 21.5px;
    background: #FFFFFF;
    box-shadow: 0px 7px 10px rgba(186, 193, 197, 0.2);
    border-radius: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}
.button_img{
   padding-right: 16.5px;
    
}
/* hire */
.hire{
    justify-content: space-between;
    padding-top: 110px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 99px;
}
.section_title{
    margin: 0;
    padding-bottom: 15px;
    font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
color: #0C9F64;
}
.hire_title{
    width: 369px;
    margin: 0;
    padding-bottom: 23px;
    font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 64px;
letter-spacing: 1.5px;
color: rgba(14, 16, 22, 0.95);

}
.hire_text{
    width: 443px;
    margin: 0;
    padding-bottom: 30px;
    font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 31px;
color: rgba(14, 16, 22, 0.95);

}
.hire_button{
    padding: 15px 22px;
    border: 2px solid #F8F4F4;
border-radius: 8px;
background-color: #fff;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 20px;
cursor: pointer;
}
.dashboard{
    margin-top: 90px;
}
.dashboard_text{
    margin: 10px 0 0;
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
text-align: center;
color: rgba(14, 16, 22, 0.4);
}